* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(140deg, rgb(4, 4, 108), black);
    height: 100vh;
    width: 100vw;
    color: white;
    
    
}

::-webkit-scrollbar {
    width: auto;
    background: transparent;
    /* background-color: rgb(175, 28, 28); */
    color: black;
    border-radius: 12px;
}



h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 40px;


}

h3 {
    font-size: 22px;
    font-weight: 500;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    height: 76vh;
    width: 90vw;
    color: black;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;

}

.search {
    margin: 10px 0;
    display: flex;

}

.searchBox {
    width: 80%;
    height: 45px;
    font-size: 20px;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    border-radius: 10px 0 0 10px;
    border-style: none;
    outline: none;
    padding: 0 12px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-bottom: 20px;


}

.searchBox:hover {
    background-color: rgb(255, 255, 255);
}

#add {
    height: 45px;
    width: 20%;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(48, 95, 248);
    color: white;
    border-radius: 0 10px 10px 0;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add:hover {
    background-color: rgb(27, 72, 219);
    font-size: 17px;
    cursor: pointer;
}


.taskBar {
    background-color: rgba(44, 57, 201, 0.7);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 12px;
    padding: 18px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    overflow-y: auto;
    overflow-x: hidden;
    height: 54vh;
    

    
    
    
}


.tasksMenu {
    margin-bottom: 15px;
}

.task {
    width: 100%;
    display: flex;
    /* margin-top: 10px; */
    margin: 6px;


}


.content {
    width: 98%;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    gap: 2px;
    
    
}

.content:hover {
    background-color: rgba(11, 0, 134, 0.596);
    box-shadow: inset 0 0 0 1.4px rgb(255, 255, 255);
}

.delete {
    color: rgb(255, 0, 0);
    height: 30px;
    width: 5%;
    outline: none;
    border: none;
    font-size: 25px;
    background: none;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}

.delete:hover {
    color: rgb(179, 0, 0);
    align-items: flex-start;
    box-shadow: inset 0 0 0 1.4px white;
    background-color: red;
    color: white;
    border-radius: 3px;
}

#null {
    justify-content: center;
    color: rgba(240, 248, 255, 0.547);
    display: none;
    align-items: center;
}

.null {
    justify-content: center;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 16px;
    margin-bottom: 15px;
    align-items: center;
}

pre {
    align-items: center;
    display: flex;
    justify-content: center;
    
}